bin/
.classpath
.project
.settings/
release/
build/
private/
/.gradle/
/.nb-gradle/private/
/.nb-gradle/profiles/private/
dist/
netbeans/
/jme3-bullet-native/bullet.zip
/jme3-bullet-native/bullet-2.82-r2704/
/jme3-android-native/openal-soft/
/jme3-android-native/OpenALSoft.zip
/jme3-android-native/stb_image/
*.dll